@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  /*padding-left: 40px;*/
  height: 100%;
}

body {
  font-family: 'Archivo', sans-serif;
}

img {
  -webkit-user-drag: none;
}

#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}